[Unit]
Description=Minecraft Server Hub
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=mschub
ExecStart=dotnet /usr/local/lib/mcshub.dll

[Install]
WantedBy=multi-user.target
